certifi==2015.11.20.1
Flask==0.10.1
gunicorn==19.4.5
itsdangerous==0.24
Jinja2==2.8
korean==0.1.7
Logentries==0.15
MarkupSafe==0.23
oauthlib==1.0.3
pika==0.10.0
psycopg2==2.6.1
requests==2.9.1
requests-oauthlib==0.6.0
six==1.10.0
SQLAlchemy==1.0.11
tweepy==3.5.0
Wand==0.4.2
Werkzeug==0.11.3
hangulize==0.0.7
